        * {
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f6f8fc;
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }

        #app-container {
            background-color: white;
            width: 100%;
            max-width: 450px;
            min-height: 100vh;
            position: relative;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
        }

        button {
            cursor: pointer;
            border: none;
            outline: none;
        }