* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8fc;
    display: flex;
    justify-content: center;
}

.content {
    width: 100vw;
    max-width: 480px;
    background-color: #fff;
    min-height: 100vh;
    padding: 20px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}